.page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
  }
  
  .chart-container {
    width: 700px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.07);
    padding: 30px;
  }
  
  .title {
    color: #ff6c84;
    font-size: 22px;
    font-weight: 600;
  }
  
  /* Tabs */
  .tab-group {
    display: flex;
    justify-content: center;
    margin: 18px 0;
    background: #ffd7df;
    border-radius: 30px;
    padding: 5px;
  }
  
  .tab-btn {
    border: none;
    background: transparent;
    padding: 8px 35px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    color: #ff6c84;
  }
  
  .tab-btn.active {
    background: white;
    font-weight: 600;
  }
  
  .date-tag {
    background: #ffd7df;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    padding: 6px 0;
    color: #c35c6c;
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  /* Tooltip */
  .tooltip-card {
    position: absolute;
    background: white;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #ff6c84;
    border: 1px solid rgba(255, 108, 132, 0.4);
    white-space: nowrap;
    pointer-events: none;
  }
  